<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dditlms.mapper.ExamMapper">
    <select id="getExamList" parameterType="string" resultType="ExamDTO">
        SELECT A.EXAM_SN, A.EXAM_NUMBER, A.EXAM_TITLE, A.EXAM_ANSWER,
               A.EXAM_TYPE, A.EXAM_CONTENT, A.EXAM_INFO_CD
        FROM EXAM A, EXAM_INFO B
        WHERE A.EXAM_INFO_CD = B.EXAM_INFO_CD
          AND A.EXAM_SN = #{examSn}
    </select>

    <select id="getExamInfoList" parameterType="hashmap" resultType="ExamInfoDTO">
        SELECT A.EXAM_INFO_CD, A.EXAM_INFO_TITLE, A.EXAM_INFO_CATEGORY, A.EXAM_INFO_DATE,
               A.EXAM_INFO_CONTENT, A.ESTBL_COURS_CD, A.EXAM_INFO_TIMELIMIT
        FROM EXAM_INFO A, ESTBL_COURS B
        WHERE A.ESTBL_COURS_CD = B.ESTBL_COURS_CD
          AND A.ESTBL_COURS_CD = #{estblCoursCd}
          AND B.MBER_NO = #{mberNo}
    </select>

    <select id="getExamInfo" parameterType="string" resultType="ExamInfoDTO">
        SELECT *
         FROM EXAM_INFO
        WHERE EXAM_INFO_CD = #{examInfoCd}
    </select>

    <!--시험지에 해당하는 문제 갯수를 구해서 등록이 가능한지 확인하는 쿼리-->
    <select id="countExamForExamInfo" parameterType="ExamInfoDTO" resultType="int">
        select count(*)
        from exam
        where exam_info_cd = #{examInfoCd}
    </select>

    <!--학생의 시험 페이지 목록을 출력하기 위한 쿼리-->
    <select id="getStudentExamInfo" parameterType="int" resultType="ExamInfoDTO">
        SELECT A.EXAM_INFO_CD, A.EXAM_INFO_TITLE, A.EXAM_INFO_CATEGORY, A.EXAM_INFO_DATE,
               A.EXAM_INFO_CONTENT, A.ESTBL_COURS_CD, A.EXAM_INFO_TIMELIMIT
        FROM EXAM_INFO A, STDNT B, MAJOR C, ESTBL_COURS D
        WHERE A.ESTBL_COURS_CD = D.ESTBL_COURS_CD
          AND D.MAJOR_CODE = C.MAJOR_CODE
          AND C.MAJOR_CODE = B.MAJOR_CODE
          AND B.MBER_NO = #{mberNo}
    </select>

    <!--문제 등록 시, 등록할 수 있는 문제를 출력하는 쿼리-->
    <select id="checkExamNumber" parameterType="string" resultType="int">
        select level num
        from dual
        connect by level &lt; 21
        minus
        select exam_number ext
        from exam
        where exam_info_cd = #{examInfoCd}
    </select>

    <!--학생이 시험볼 문제 출력 쿼리-->
    <select id="getExamTestForStudent" parameterType="hashmap" resultType="ExamDTO">
        SELECT E.EXAM_SN, E.EXAM_NUMBER, E.EXAM_TITLE, E.EXAM_ANSWER, E.EXAM_TYPE, E.EXAM_CONTENT, E.EXAM_INFO_CD
        FROM EXAM_INFO A, STDNT B, MAJOR C, ESTBL_COURS D, EXAM E
        WHERE A.ESTBL_COURS_CD = D.ESTBL_COURS_CD
          AND D.MAJOR_CODE = C.MAJOR_CODE
          AND C.MAJOR_CODE = B.MAJOR_CODE
          AND A.EXAM_INFO_CD = E.EXAM_INFO_CD
          AND B.MBER_NO = #{mberNo}
          AND E.EXAM_INFO_CD = #{examInfoCd}
        ORDER BY EXAM_NUMBER ASC
    </select>

    <select id="checkExamResult" parameterType="ExamResultDTO" resultType="ExamResultDTO">
        select *
        from exam_result
        where exam_sn = #{examSn}
          and mber_no = #{mberNo}
    </select>

    <select id="getExamTimeLimit" parameterType="string" resultType="int">
        SELECT EXAM_INFO_TIMELIMIT
        FROM EXAM_INFO
        WHERE EXAM_INFO_CD = #{examInfoCd}
    </select>

    <insert id="insertExam" parameterType="ExamDTO">
        insert into exam(EXAM_SN, EXAM_NUMBER, EXAM_TITLE, EXAM_ANSWER, EXAM_TYPE, EXAM_CONTENT, EXAM_INFO_CD)
        values('E'||SEQ_EXAM.nextval, #{examNumber}, #{examTitle}, #{examAnswer}, #{examType}, #{examContent}, #{examInfoCd})
    </insert>

    <insert id="insertExamInfo" parameterType="ExamInfoDTO">
        insert into exam_info(EXAM_INFO_CD, EXAM_INFO_TITLE, EXAM_INFO_CATEGORY, EXAM_INFO_DATE, EXAM_INFO_CONTENT, ESTBL_COURS_CD, EXAM_INFO_TIMELIMIT)
        values('EF'||SEQ_EXAMINFO.nextval, #{examInfoTitle}, #{examInfoCategory}, #{examInfoDate}, #{examInfoContent}, #{estblCoursCd}, #{examInfoTimelimit})
    </insert>

    <update id="updateExamInfo" parameterType="ExamInfoDTO">
        UPDATE EXAM_INFO
        SET EXAM_INFO_TITLE = #{examInfoTitle},
            EXAM_INFO_CATEGORY = #{examInfoCategory},
            EXAM_INFO_DATE = #{examInfoDate},
            EXAM_INFO_CONTENT = #{examInfoContent},
            EXAM_INFO_TIMELIMIT = #{examInfoTimelimit}
        WHERE EXAM_INFO_CD = #{examInfoCd}
    </update>

    <!--시험 문제 수정 쿼리-->
    <update id="updateExam" parameterType="ExamDTO">
        UPDATE EXAM
           SET EXAM_TITLE = #{examTitle},
               EXAM_NUMBER = #{examNumber},
               EXAM_ANSWER = #{examAnswer},
               EXAM_TYPE = #{examType},
               EXAM_CONTENT = #{examContent}
         WHERE EXAM_SN = #{examSn}
           AND EXAM_INFO_CD = #{examInfoCd}
    </update>

    <!--등록되어 있는 문제에 대해 답을 입력/수정 할때 필요한 쿼리-->
    <update id="updateExamResult" parameterType="ExamResultDTO">
        UPDATE EXAM_RESULT
           SET EXAM_INPUT = #{examInput}
         WHERE EXAM_RESULT_SN = #{examResultSn}
           AND MBER_NO = #{mberNo}
    </update>

    <delete id="deleteExamInfo" parameterType="ExamInfoDTO">
        DELETE FROM EXAM_INFO WHERE EXAM_INFO_CD = #{examInfoCd}
    </delete>

    <delete id="deleteExam" parameterType="ExamDTO">
        DELETE FROM EXAM WHERE EXAM_SN = #{examSn}
    </delete>

    <!--시험지에 접혹하면 모든 문제에 대해 값을 생성하기 위한 쿼리-->
    <insert id="insertExamResult" parameterType="ExamResultDTO">
        INSERT INTO EXAM_RESULT(EXAM_RESULT_SN, EXAM_INPUT, MBER_NO, EXAM_NUMBER, EXAM_SN)
        VALUES(SEQ_EXAMRESULT.nextval, #{examInput}, #{mberNo}, #{examNumber}, #{examSn})
    </insert>
</mapper>