<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dditlms.mapper.ScoreMapper">

    <select id="checkStudentScore" parameterType="ScoreDTO" resultType="ScoreDTO">
        SELECT *
          FROM SCORE
         WHERE MBER_NO = #{mberNo}
           AND ESTBL_COURS_CD = #{estblCoursCd}
    </select>

    <select id="checkAtendInfo" parameterType="AtendDTO" resultType="AtendDTO">
        SELECT ATEND_STTUS
        FROM ATEND
        WHERE MBER_NO = #{mberNo}
          AND ESTBL_COURS_CD = #{estblCoursCd}
    </select>

    <!--각 과목에 있는 학생의 성적 정보를 볼 수 있다-->
    <select id="getStudentScore" parameterType="string" resultType="map">
        SELECT A.MBER_NO, A.MBER_NM, B.GRADE, D.ATEND_SCORE, D.TASKS_CORE, D.MIDDLE_EXPR_SCORE, D.TRMEND_EXPR_SCORE, D.ESTBL_COURS_CD
        FROM MBER A, STDNT B, ATNLC_LCTRE C, SCORE D
        WHERE A.MBER_NO = B.MBER_NO
          AND B.MBER_NO = C.MBER_NO
          AND C.MBER_NO = D.MBER_NO
          AND C.ESTBL_COURS_CD = D.ESTBL_COURS_CD
          AND D.ESTBL_COURS_CD = #{estblCoursCd}
    </select>

    <!--과제 정수만 null값 포함해서 가져온다-->
    <select id="getStudentTaskScoreList" parameterType="string" resultType="map">
        SELECT A.MBER_NO, A.MBER_NM, D.TASKS_CORE, D.ESTBL_COURS_CD, E.TASK_SN, E.TASK_SCORE
        FROM MBER A, STDNT B, ATNLC_LCTRE C, SCORE D, PRESENTN E
        WHERE A.MBER_NO = B.MBER_NO
          AND B.MBER_NO = E.MBER_NO(+)
          AND B.MBER_NO = C.MBER_NO
          AND C.MBER_NO = D.MBER_NO
          AND C.ESTBL_COURS_CD = D.ESTBL_COURS_CD
          AND C.ESTBL_COURS_CD = #{estblCoursCd}
        ORDER BY A.MBER_NO ASC
    </select>

    <!--학생이 수강 신청을 했으면 성적 테이블에 생성되어지는 것-->
    <insert id="insertStudentScore" parameterType="ScoreDTO">
        insert into score(SCRE_SN, ATEND_SCORE, TASKS_CORE, MIDDLE_EXPR_SCORE, TRMEND_EXPR_SCORE, ESTBL_COURS_CD, MBER_NO)
        values(SEQ_SCORE.nextval, #{atendScore}, #{tasksCore}, #{middleExprScore}, #{trmendExprScore},#{estblCoursCd} , #{mberNo})
    </insert>

    <!--학생 성적이 갱신될 때 사용되는 쿼리-->
    <update id="updateScore" parameterType="ScoreDTO">
        UPDATE SCORE
            <if test="atendScore!=''">
                set ATEND_SCORE = #{atendScore}
            </if>
            <if test="tasksCore!=''">
               set TASKS_CORE = #{tasksCore}
            </if>
            <if test="middleExprScore!=''">
               set MIDDLE_EXPR_SCORE = #{middleExprScore}
            </if>
            <if test="trmendExprScore!=''">
                set TRMEND_EXPR_SCORE = #{trmendExprScore}
            </if>
        WHERE MBER_NO = #{mberNo}
          AND ESTBL_COURS_CD = #{estblCoursCd}
    </update>

    <update id="updateScoreForOther" parameterType="ScoreDTO">
        UPDATE SCORE
            set ATEND_SCORE = #{atendScore},
                TASKS_CORE = #{tasksCore},
                MIDDLE_EXPR_SCORE = #{middleExprScore},
                TRMEND_EXPR_SCORE = #{trmendExprScore}
        WHERE MBER_NO = #{mberNo}
        AND ESTBL_COURS_CD = #{estblCoursCd}
    </update>
</mapper>