<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
    <div class="page-main-header">
        <div class="main-header-right row m-0">
            <nav class="navbar navbar-dark bg-light-primary" aria-label="First navbar example">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">온라인 강의(여기에 학생 이름 넣을거야)</a>
                    <!--일단 로그아웃 확인-->
                    <div style="z-index: 10" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-primary-light"><i data-feather="log-out"></i>Log out</a></button>
                        </form>
                    </div>
                    <!---->
                </div>
            </nav>
        </div>
    </div>
</th:block>
</html>