<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav_studentFragment">
    <li class="back-btn">
        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
    </li>

    <li class="sidebar-main-title">
        <div>
            <h6>공용             </h6>
        </div>
    </li>
    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="home"></i><span>마이페이지</span></a>
        <ul class="nav-submenu menu-content">
            <li><a href="#">개인정보 변경</a></li>
            <li><a href="#">스크랩</a></li>
            <li><a href="#">주소록</a></li>
        </ul>
    </li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="git-pull-request"></i><span>클라우드</span></a></li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="calendar"></i><span>캘린더</span></a></li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="mail"></i><span>메일</span></a></li>
    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="book-open"></i><span>게시판</span></a>
        <ul class="nav-submenu menu-content">
            <li><a href="#">일반 공지</a></li>
            <li><a href="#">장학 공지</a></li>
            <li><a href="#">학사 공지</a></li>
            <li><a href="#">학과 공지</a></li>
            <li><a href="#">자유 게시판</a></li>
        </ul>
    </li>
    <li class="sidebar-main-title">
        <div>
            <h6>강의            </h6>
        </div>
    </li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="/onlineLecture" target="_blank"><i data-feather="airplay"></i><span>온라인 교육</span></a></li>
    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="check-square"></i><span>수강 신청</span></a>
        <ul class="nav-submenu menu-content">
            <li><a href="#">수강 검색</a></li>
            <li><a href="#">예비 수강 신청</a></li>
            <li><a href="#">수강 신청</a></li>
        </ul>
    </li>
    <li class="sidebar-main-title">
        <div>
            <h6>학적            </h6>
        </div>
    </li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="user"></i><span>학적 기본</span></a></li>
    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="user-plus"></i><span>학적 변경</span></a>
        <ul class="nav-submenu menu-content">
            <li><a href="#">휴학 신청</a></li>
            <li><a href="#">복학 신청</a></li>
            <li><a href="#">전과 신청</a></li>
            <li><a href="#">교직이수</a></li>
            <li><a href="#">복수전공</a></li>
            <li><a href="#">졸업 신청</a></li>
        </ul>
    </li>
    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="send"></i><span>장학/등록</span></a><
        <ul class="nav-submenu menu-content">
            <li><a class="submenu-title" href="javascript:void(0)">등록<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                <ul class="nav-sub-childmenu submenu-content">
                    <li><a href="#">등록금 고지서</a></li>
                    <li><a href="#">등록 조회</a></li>
                </ul>
            </li>
            <li><a class="submenu-title" href="javascript:void(0)">장학<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                <ul class="nav-sub-childmenu submenu-content">
                    <li><a href="#">장학금 신청</a></li>
                    <li><a href="#">장학 조회</a></li>
                </ul>
            </li>
        </ul>
    </li>
</th:block>
</html>