<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
    <!-- feather icon js-->
    <script th:src="@{/static/js/icons/feather-icon/feather.min.js}"></script>
    <script th:src="@{/static/js/icons/feather-icon/feather-icon.js}"></script>
    <!-- Sidebar jquery-->
    <script th:src="@{/static/js/sidebar-menu.js}"></script>
    <script th:src="@{/static/js/config.js}"></script>
    <!-- Bootstrap js-->
    <script th:src="@{/static/js/bootstrap/popper.min.js}"></script>
    <script th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
    <!-- Plugins JS start-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script th:src="@{/static/js/script.js}"></script>
    <!-- login js-->
    <!-- Plugin used-->
</th:block>
</html>