<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="sidebarFragment">
    <header class="main-nav bg-primary">
        <nav>
            <div class="main-navbar">
                <div class="flex-shrink-0 p-3 bg-primary text-center" style="width: 280px;">
                    <a th:href="@{/student/online/studentMain}" class="d-flex align-items-center pb-3 mb-3 link-dark border-bottom">
                        <span class="fs-3 fw-semibold text-white">전체</span>
                    </a>
                    <!--            <ul class=" navbar-nav me-auto mb-2list-unstyled ps-0">-->
                    <ul class="text-center navbar-nav me-auto mb-2">
                        <li class="nav-item">
                            <a th:href="@{/student/online/studentMain}" class="link-dark rounded text-white nav-link">메인페이지</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/student/onlineLecture}" class="link-dark rounded text-white nav-link">강의실</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/student/onlineLecture/board}" class="link-dark rounded text-white nav-link">게시판</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/student/onlineLecture/assignment}"
                               class="link-dark rounded text-white nav-link">과제</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/student/onlineLecture/exam}" class="link-dark rounded text-white nav-linkitem">시험</a>
                        </li>
                        <li class="border-top my-3"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</th:block>
</html>