<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout_professor_lecture}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>학생관리</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">학번</th>
                            <th scope="col">학과</th>
                            <th scope="col">학년</th>
                            <th scope="col">출결</th>
                            <th scope="col">과제</th>
                            <th scope="col">중간고사</th>
                            <th scope="col">기말고사</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center"
                            th:each="scoreList, i : ${studentScoreList}"
                            data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">
                            <th scope="row" th:text="${i.count}"></th>
                            <td th:text="${scoreList.get('MBER_NO')}">test</td>
                            <td th:text="${scoreList.get('MBER_NM')}">test</td>
                            <td th:text="${scoreList.get('GRADE')}">test</td>
                            <td th:text="${scoreList.get('ATEND_SCORE')}">test</td>
                            <td th:text="${scoreList.get('TASKS_CORE')}">test</td>
                            <td th:text="${scoreList.get('MIDDLE_EXPR_SCORE')}">test</td>
                            <td th:text="${scoreList.get('TRMEND_EXPR_SCORE')}">test</td>
                        </tr>
                        </tbody>
                    </table>
<!--                    &lt;!&ndash; Modal 창 &ndash;&gt;-->
<!--                    <div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">-->
<!--                        <div class="modal-dialog modal-lg">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h4 class="modal-title" id="myLargeModalLabel">게시판 제목</h4>-->
<!--                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <video th:src="@{/static/video/video1.mp4}" controls/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>