<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout_professor_lecture}">
<th:block layout:fragment="content">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>시험 관리</h5>
            </div>
            <div class="card-body">
                <div class="makeExam">
                    <button class="btn btn-primary float-end" data-bs-toggle="modal"
                            data-bs-target=".bd-example-modal-lg">시험문제 생성
                    </button>
                    <!-- 검색 -->
                    <form action="/exam/examPaper" method="get">
                        <div>
                            <select name="keyword" id="keyword">
                                <option value="examTitle">문제</option>
                                <option value="examAnswer">정답</option>
                            </select>
                            <input type="hidden" name="examInfoCd" th:value="${examInfoCd}">
                            <input type="text" id="search" name="search">
                            <button type="submit">검색</button>
                        </div>
                    </form>
                    <hr>
                    <div class="tab-content" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                            <div class="row">
                                <div class="col-xxl-4 col-lg-6 goModal" th:each="list,i : ${users.getList()}" th:id="${list.examSn}" th:classappend="${i.index}"
                                     data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg3" style="cursor: pointer;">
                                    <div class="project-box">
                                        <span class="badge badge-primary examList"
                                              th:if="${list.examType.equals('objective')}" th:text="'객관식'"></span>
                                        <span class="badge badge-secondary examList"
                                              th:if="${list.examType.equals('subjective')}" th:text="'주관식'"></span>
                                        <h6 class="examList" th:text="${list.examNumber}" style="display: inline"></h6>
                                        <h6 class="examList" th:text="${' : ' + list.examTitle}" style="display: inline"></h6>
                                        <div class="media">
                                            <div class="media-body">
                                                <p class="examList" th:if="${list.examType.equals('subjective')}"
                                                   th:text="'(적절한 답을입력하시오)'"></p>
                                            </div>
                                        </div>
                                        <div class="row details examList" th:if="${list.examType.equals('objective')}">
                                            <div class="col-6" th:each="num : ${#numbers.sequence(1,4)}"
                                                 th:text="${num+'.'+examContentMap.get(list.examSn+num)}">
                                            </div>
                                        </div>
                                        <hr>
                                        <span class="examList" th:text="'정답 : ' + ${list.examAnswer}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination pagination-primary justify-content-center">
            <!-- getPrePage : 이전 페이지 -->
            <li class="page-item" th:classappend="${users.getPrePage() == 0} ? 'disabled'">
                <!-- href: /page?pageNum=이전페이지&keyword=검색분류&search=검색어 -->
                <a class="page-link"
                   th:href="@{/professor/onlineLecture/exam/examPaper(pageNum=${users.getPrePage()}, examInfoCd=${examInfoCd} ,keyword=${search.getKeyword()}, search=${search.getSearch()})}">Previous</a>
            </li>
            <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
            <!-- href : /page?pageNum=선택한 페이지&keyword=검색분류&search=검색어 -->
            <li class="page-item"
                th:each="page: ${#numbers.sequence(users.getNavigateFirstPage(), users.getNavigateLastPage())}"
                th:classappend="${page == users.getPageNum()} ? 'active'">
                <a class="page-link" th:text="${page}"
                   th:href="@{/professor/onlineLecture/exam/examPaper(pageNum=${page}, examInfoCd=${examInfoCd} , keyword=${search.getKeyword()}, search=${search.getSearch()})}"></a>
            </li>
            <!-- getPrePage : 다음 페이지 -->
            <li class="page-item" th:classappend="${users.getNextPage() == 0} ? 'disabled'">
                <!-- href: /page?pageNum=다음페이지&keyword=검색분류&search=검색어 -->
                <a class="page-link"
                   th:href="@{/professor/onlineLecture/exam/examPaper(pageNum=${users.getNextPage()}, examInfoCd=${examInfoCd} , keyword=${search.getKeyword()}, search=${search.getSearch()})}">Next</a>
            </li>
        </ul>
    </nav>
    </div>
    <!--시험 문제 등록의 modal창-->
    <form id="insertExam" method="post">
        <div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel"
             style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabelRegister">시험문제 등록</h4>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body">
                        <label class="col-md-2" for="examTitle">시험문제</label>
                        <input id="examTitle" type="text" name="examTitle"><br>
                        <label class="col-md-2" for="examNumber">시험문제 번호</label>
                        <select id="examNumber" name="examNumber">
                            <option th:each="examList : ${checkExamNumber}" th:value="${examList}" th:text="${examList}"></option>
                        </select><br>
                        <label class="col-md-2" for="examType">시험문제 종류</label>
                        <select id="examType" class="examType" name="examType">
                            <option selected disabled>선택</option>
                            <option value="objective">객관식</option>
                            <option value="subjective">주관식</option>
                        </select><br>
                        <div id="examTypeResult" class="examTypeResult">
                        </div>
                        <input id="examContent" class="examContent" type="hidden" name="examContent">
                        <label class="col-md-2" for="examAnswer">시험문제 정답</label>
                        <input id="examAnswer" type="text" name="examAnswer">
                        <input id="examInfoCd" name="examInfoCd" type="hidden" th:value="${examInfoCd}">
                    </div>
                    <div class="modal-footer">
                        <button id="examRegister" class="btn btn-primary float-end" type="button">등록</button>
                        <button id="dummyData" class="btn btn-danger float-end" type="button">시연용 데이터</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--문제 수정을 위한 모달 창-->
    <form id="updateExam" method="post">
        <div class="modal fade bd-example-modal-lg3" tabindex="-1" aria-labelledby="myLargeModalLabel"
             style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabelUpdate">시험문제 등록</h4>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body">
                        <label class="col-md-2" for="updateExamTitle">시험문제</label>
                        <input id="updateExamTitle" type="text" name="examTitle"><br>
                        <label class="col-md-2" for="updateExamNumber">시험문제 번호</label>
                        <input id="updateExamNumber" type="number" name="examNumber" disabled><br>
                        <label class="col-md-2" for="updateExamType">시험문제 종류</label>
                        <select id="updateExamType" class="examType" name="examType">
                            <option selected disabled>선택</option>
                            <option value="objective">객관식</option>
                            <option value="subjective">주관식</option>
                        </select><br>
                        <div id="updateExamTypeResult" class="examTypeResult">
                        </div>
                        <input id="updateExamContent" class="examContent" type="hidden" name="examContent">
                        <label class="col-md-2" for="updateExamAnswer">시험문제 정답</label>
                        <input id="updateExamAnswer" type="text" name="examAnswer">
                        <input id="updateExamInfoCd" name="examInfoCd" type="hidden" th:value="${examInfoCd}">
                        <input id="updateExamSn" name="examSn" type="hidden">
                    </div>
                    <div class="modal-footer">
                        <button id="examUpdate" class="btn btn-primary float-end" type="button">수정</button>
                        <button id="examDelete" class="btn btn-primary float-end" type="button">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <script th:inline="javascript">
        const examTypeSelectBtn = document.querySelector('.examType');
        const examRegisterBtn = document.querySelector('#examRegister');
        const examUpdateBtn = document.querySelector('#examUpdate');
        const examDeleteBtn = document.querySelector('#examDelete');
        const examForm = $('#insertExam')[0];
        const examUpdateForm = $('#updateExam')[0];
        const dummyDataBtn = document.querySelector('#dummyData')
        let examContentResult = document.querySelector('#examContent');
        let examContentResultUpdate = document.querySelector('#updateExamContent');

        /*<![CDATA[*/
        const targetList = /*[[ ${users.getList()} ]]*/;
        const examNumberList = /*[[ ${checkExamNumber} ]]*/;
        /*]]*/

        const examTr = document.querySelectorAll('.goModal')

        const openModal = e => {
            const index = e.currentTarget.classList[3]
            document.querySelector('#updateExamSn').value = targetList[index].examSn;
            document.querySelector('#updateExamTitle').value = targetList[index].examTitle;
            document.querySelector('#updateExamType').value = targetList[index].examType;
            document.querySelector('#updateExamNumber').value = targetList[index].examNumber
            document.querySelector('#updateExamContent').value = targetList[index].examContent;
            document.querySelector('#updateExamAnswer').value = targetList[index].examAnswer;

            const updateCxamTypeResult = document.querySelector('#updateExamTypeResult');

            if (targetList[index].examType == 'subjective') {
                updateCxamTypeResult.innerHTML = "<label class='col-md-2'>시험문제 내용(설명)</label>\n" +
                    "<input id='content' class='examContentForResult' type='text' value='(적절한 답을입력하시오)' disabled> ";
            } else if (targetList[index].examType == 'objective') {
                updateCxamTypeResult.innerHTML = "<label class='col-md-2'>시험문제 내용</label><br>" +
                    "<label class='col-md-2'>1번 보기</label>" +
                    "<input id='updateContent1' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>2번 보기</label>" +
                    "<input id='updateContent2' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>3번 보기</label>" +
                    "<input id='updateContent3' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>4번 보기</label>" +
                    "<input id='updateContent4' class='examContentForResult' type='text'>";

                const updateContent1 = document.querySelector('#updateContent1');
                const updateContent2 = document.querySelector('#updateContent2');
                const updateContent3 = document.querySelector('#updateContent3');
                const updateContent4 = document.querySelector('#updateContent4');

                var splitContent = targetList[index].examContent.split('/');
                updateContent1.value = splitContent[0]
                updateContent2.value = splitContent[1]
                updateContent3.value = splitContent[2]
                updateContent4.value = splitContent[3]

                updateContent1.addEventListener('keyup', updateValue);
                updateContent2.addEventListener('keyup', updateValue);
                updateContent3.addEventListener('keyup', updateValue);
                updateContent4.addEventListener('keyup', updateValue);

                function updateValue() {
                    examContentResultUpdate.value = updateContent1.value + '/' + updateContent2.value +
                        '/' + updateContent3.value + '/' + updateContent4.value + '/';
                }
            }
        }

        examTr.forEach(item => {
            item.addEventListener('click', e => {
                openModal(e)
            })
        })

        function checkExamType(examTypeValue) {
            const examTypeResult = document.querySelector('.examTypeResult');

            if (examTypeValue == 'subjective') {
                examTypeResult.innerHTML = "<label class='col-md-2'>시험문제 내용(설명)</label>\n" +
                    "<input id='content' class='examContentForResult' type='text' value='(적절한 답을입력하시오)' disabled>";
            } else if (examTypeValue == 'objective') {
                examTypeResult.innerHTML = "<label class='col-md-2'>시험문제 내용</label><br>" +
                    "<label class='col-md-2'>1번 보기</label>" +
                    "<input id='content1' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>2번 보기</label>" +
                    "<input id='content2' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>3번 보기</label>" +
                    "<input id='content3' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>4번 보기</label>" +
                    "<input id='content4' class='examContentForResult' type='text'>";

                const content1 = document.querySelector('#content1');
                const content2 = document.querySelector('#content2');
                const content3 = document.querySelector('#content3');
                const content4 = document.querySelector('#content4');

                content1.addEventListener('keyup', updateValue);
                content2.addEventListener('keyup', updateValue);
                content3.addEventListener('keyup', updateValue);
                content4.addEventListener('keyup', updateValue);

                function updateValue() {
                    examContentResult.value = content1.value + '/' + content2.value + '/' + content3.value + '/' + content4.value + '/';
                }
            }
        }

        examTypeSelectBtn.addEventListener('change', function () {
            const examTypeValue = examTypeSelectBtn.value;
            checkExamType(examTypeValue)
        })


        examRegisterBtn.addEventListener('click', function () {
            let examFormDate = new FormData(examForm);

            if(examNumberList.length == 0) {
                alert("더이상 문제를 만들수 없습니다.")
            } else {
                if ($("#examTitle").val().length == 0) {
                    alert("문제를 입력하세요");
                    $("#examTitle").focus();
                    return false;
                }
                if ($("#examType").val() == null) {
                    alert("문제의 종류를 선택하세요");
                    $("#examType").focus();
                    return false;
                }
                if ($("#examNumber").val() == null) {
                    alert("문제의 번호를 선택하세요");
                    $("#examNumber").focus();
                    return false;
                }
                if ($("#examAnswer").val().length == 0) {
                    alert("정답을 입력하세요");
                    $("#examAnswer").focus();
                    return false;
                }

                $.ajax({
                    url: "/professor/onlineLecture/exam/insertExam",
                    data: examFormDate,
                    method: "post",
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    }
                })
                    .done(function (fragment) {
                        if (fragment.state == "true") {
                            swal("등록 성공");
                            location.reload();
                        } else {
                            swal("등록 실패");
                            location.reload();
                        }
                    });
            }
        })

        //수정을 위한 AJAX문문
        examUpdateBtn.addEventListener('click', function () {
            let examUpdateFormDate = new FormData(examUpdateForm);

            if ($("#updateExamTitle").val().length == 0) {
                alert("문제를 입력하세요");
                $("#updateExamTitle").focus();
                return false;
            }
            if ($("#updateExamType").val().length == 0) {
                alert("문제의 종류를 선택하세요");
                $("#updateExamType").focus();
                return false;
            }
            if ($("#updateExamAnswer").val().length == 0) {
                alert("정답을 입력하세요");
                $("#updateExamAnswer").focus();
                return false;
            }

            $.ajax({
                url: "/professor/onlineLecture/exam/updateExam",
                data: examUpdateFormDate,
                method: "post",
                dataType: "json",
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            })
                .done(function (fragment) {
                    if (fragment.state == "true") {
                        swal("수정 성공");
                        location.reload();
                    } else {
                        swal("수정 실패");
                        location.reload();
                    }
                });
        })

        //삭제를 위한 AJAX문문
        examDeleteBtn.addEventListener('click', function () {
            let examUpdateFormDate = new FormData(examUpdateForm);

            $.ajax({
                url: "/professor/onlineLecture/exam/deleteExam",
                data: examUpdateFormDate,
                method: "post",
                dataType: "json",
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            })
                .done(function (fragment) {
                    if (fragment.state == "true") {
                        swal("삭제 성공");
                        location.reload();
                    } else {
                        swal("삭제 실패");
                        location.reload();
                    }
                });
        })
    </script>
</th:block>
</html>