<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout_professor_lecture}">
<th:block layout:fragment="content">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>시험 관리</h5>
            </div>
            <div class="card-body">
                <div class="makeExam">
                    <button class="btn btn-primary float-end" data-bs-toggle="modal"
                            data-bs-target=".bd-example-modal-lg">시험문제 생성
                    </button>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">문제번호</th>
                            <th scope="col">시험문제</th>
                            <th scope="col">시험문제 종류</th>
                            <th scope="col">시험문제 내용</th>
                            <th scope="col">시험문제 정답</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list : ${examList}" th:id="${list.examSn}">
                            <td class="examList col-md-1" th:text="${list.examNumber}"></td>
                            <td class="examList col-md-4" th:text="${list.examTitle}"></td>
                            <td class="examList col-md-1" th:if="${list.examType.equals('objective')}" th:text="객관식"></td>
                            <td class="examList col-md-1" th:if="${list.examType.equals('subjective')}" th:text="주관식"></td>
                            <td class="examList col-md-1" th:if="${list.examType.equals('objective')}" th:text="---------"></td>
                            <td class="examList col-md-4" th:if="${list.examType.equals('subjective')}">
                                <p th:each="num : ${#numbers.sequence(1,4)}" th:text="${num+'.'+examContentMap.get(list.examSn+num)}"></p>
                            </td>
                            <td class="examList col-md-2" th:text="${list.examAnswer}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--시험 문제 등록의 modal창-->
        <form id="insertExam" method="post">
            <div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabelUpdate">시험문제 등록</h4>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"/>
                        </div>
                        <div class="modal-body">
                            <label class="col-md-2" for="examTitle">시험문제</label>
                            <input id="examTitle" type="text" name="examTitle"><br>
                            <label class="col-md-2" for="examNumber">시험문제 번호</label>
                            <input id="examNumber" type="number" name="examNumber"><br>
                            <label class="col-md-2" for="examType">시험문제 종류</label>
                            <select id="examType" name="examType">
                                <option selected disabled>선택</option>
                                <option value="objective">객관식</option>
                                <option value="subjective">주관식</option>
                            </select><br>
                            <div id="examTypeResult">
                            </div>
                            <input id="examContent" type="hidden" name="examContent">
                            <label class="col-md-2" for="examAnswer">시험문제 정답</label>
                            <input id="examAnswer" type="text" name="examAnswer">
                            <input id="examInfoCd" name="examInfoCd" type="hidden" th:value="${examInfoCd}">
                        </div>
                        <div class="modal-footer">
                            <button id="examRegister" class="btn btn-primary float-end" type="button">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--문제 수정을 위한 모달 창-->
        <form id="updateExam" method="post">
            <div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabelUpdate">시험문제 등록</h4>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"/>
                        </div>
                        <div class="modal-body">
                            <label class="col-md-2" for="examTitle">시험문제</label>
                            <input id="examTitle" type="text" name="examTitle"><br>
                            <label class="col-md-2" for="examNumber">시험문제 번호</label>
                            <input id="examNumber" type="number" name="examNumber"><br>
                            <label class="col-md-2" for="examType">시험문제 종류</label>
                            <select id="examType" name="examType">
                                <option selected disabled>선택</option>
                                <option value="objective">객관식</option>
                                <option value="subjective">주관식</option>
                            </select><br>
                            <div id="examTypeResult">
                            </div>
                            <input id="examContent" type="hidden" name="examContent">
                            <label class="col-md-2" for="examAnswer">시험문제 정답</label>
                            <input id="examAnswer" type="text" name="examAnswer">
                            <input id="examInfoCd" name="examInfoCd" type="hidden" th:value="${examInfoCd}">
                        </div>
                        <div class="modal-footer">
                            <button id="examRegister" class="btn btn-primary float-end" type="button">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        const examTypeSelectBtn = document.querySelector('#examType');
        const examRegisterBtn = document.querySelector('#examRegister');
        const examForm = $('#insertExam')[0];
        let examContentResult = document.querySelector('#examContent');

        examTypeSelectBtn.addEventListener('change', function () {
            const examTypeValue = examTypeSelectBtn.value;

            if (examTypeValue == 'objective') {
                examTypeResult.innerHTML = "<label class='col-md-2'>시험문제 내용(설명)</label>\n" +
                    "<input id='content' class='examContentForResult' type='text' value='null'>";
            } else if (examTypeValue == 'subjective') {
                examTypeResult.innerHTML = "<label class='col-md-2'>시험문제 내용</label><br>" +
                    "<label class='col-md-2'>1번 보기</label>" +
                    "<input id='content1' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>2번 보기</label>" +
                    "<input id='content2' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>3번 보기</label>" +
                    "<input id='content3' class='examContentForResult' type='text'><br>" +
                    "<label class='col-md-2'>4번 보기</label>" +
                    "<input id='content4' class='examContentForResult' type='text'>";

                const content1 = document.querySelector('#content1');
                const content2 = document.querySelector('#content2');
                const content3 = document.querySelector('#content3');
                const content4 = document.querySelector('#content4');

                content1.addEventListener('keyup', updateValue);
                content2.addEventListener('keyup', updateValue);
                content3.addEventListener('keyup', updateValue);
                content4.addEventListener('keyup', updateValue);

                function updateValue() {
                    examContentResult.value = content1.value + '/' + content2.value + '/' + content3.value + '/' + content4.value + '/';
                    console.log(examContentResult.value)
                }
            }
        })

        examRegisterBtn.addEventListener('click', function () {
            let examFormDate = new FormData(examForm);

            if ($("#examTitle").val().length == 0) {
                alert("문제를 입력하세요");
                $("#examTitle").focus();
                return false;
            }
            if ($("#examType").val().length == 0) {
                alert("문제의 종류를 선택하세요");
                $("#examType").focus();
                return false;
            }
            if ($("#examAnswer").val().length == 0) {
                alert("정답을 입력하세요");
                $("#examAnswer").focus();
                return false;
            }

            $.ajax({
                url: "/exam/insertExam",
                data: examFormDate,
                method: "post",
                dataType: "json",
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            })
            .done(function (fragment) {
                if (fragment.state == "true") {
                    swal("등록 성공");
                    location.reload();
                } else {
                    swal("등록 실패");
                    location.reload();
                }
            });
        })
    </script>
</th:block>
</html>