<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout_student_lecture}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>2022년도 1학기</h5>
<!--                    <h5 th:if="${#calendars.format('20210601', 'yyyy-MM-dd').before(#dates.createNow())}">2021년도 1학기 시험</h5>-->
<!--                    <h5 th:if="${#calendars.format('20210601', 'yyyy-MM-dd').after(#dates.createNow())}">2021년도 2학기 시험</h5>-->
                </div>
                <hr>
                <div class="card-body examDiv" th:each="list,i : ${studentExamInfo}" th:id="${list.examInfoCd}" th:classappend="${i.index}"
                th:if="${progress.get(list.examInfoCd+'showExam').equals('showExam')}">
                    <div class="row">
                        <div class="card-title">
                            <h2 th:if="${list.examInfoCategory.equals('middle')}" th:text="'중간고사'"></h2>
                            <h2 th:if="${list.examInfoCategory.equals('final')}" th:text="'기말고사'"></h2>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <form>
                                <div class="row">
                                    <div class="mb-6">
                                        <label for="examInfoTitle">시험 제목</label>
                                        <input class="form-control examInfoTitle" id="examInfoTitle" type="text"
                                               th:value="${list.examInfoTitle}" style="background-color: white" disabled>
                                    </div>
                                    <div class="mb-6">
                                        <label th:if="${list.examInfoCategory.equals('middle')}" for="examInfoCategoryMiddle">시험 종류</label>
                                        <input class="form-control examInfoCategory" id="examInfoCategoryMiddle" type="text" style="background-color: white"
                                               th:if="${list.examInfoCategory.equals('middle')}" th:value="'중간고사'" disabled>
                                        <label th:if="${list.examInfoCategory.equals('final')}" for="examInfoCategoryMiddle">시험 종류</label>
                                        <input class="form-control examInfoCategory" id="examInfoCategoryfinal" type="text" style="background-color: white"
                                               th:if="${list.examInfoCategory.equals('final')}" th:value="'기말고사'" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="examInfoDate">시험일</label>
                                        <input class="form-control examInfoDate" id="examInfoDate" type="text" style="background-color: white"
                                               th:value="${#dates.format(list.examInfoDate, 'yyyy-MM-dd HH:mm')}" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="examInfoTimelimit">시험 시간</label>
                                        <input class="form-control examInfoTimelimit" id="examInfoTimelimit" type="text"
                                               th:value="${list.examInfoTimelimit}+'분'" style="background-color: white" disabled/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="examProgress">시험 진행</label>
                                        <input class="form-control examProgress" id="examProgress" type="text"
                                               th:value="${progress.get(list.examInfoCd)}" style="background-color: white" disabled>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div class="checkbox-title">
                                            <h4 class="mb-0">시험 내용 </h4>
                                        </div>
                                    </div>
                                    <div class="animate-chk">
                                        <div class="row">
                                            <label for="examInfoContent" class="form-label"><p class="font-weight-bold">주의사항</p></label>
                                            <textarea class="form-control examInfoContent" id="examInfoContent" rows="5" style="resize: none;background-color: white;"
                                            th:text="${list.examInfoContent}" disabled/>
                                        </div>
                                        <br><br>
                                        <div class="order-place">
                                            <!--data-bs-toggle="modal"-->
                                            <button class="btn btn-primary startExamBtn" type="button" data-bs-toggle="modal"
                                                    th:value="${progress.get(list.examInfoCd)}" th:id="${list.examInfoCd}"
                                                    th:attr="data-bs-target='#exampleModal'+${list.examInfoCd}">
                                                시험 응시
                                            </button>
                                        </div>

                                        <!--경고창 modal 시작-->
                                        <div class="modal fade" th:id="${'exampleModal'+list.examInfoCd}" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">시험 시작</h5>
                                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        제한 시간 안에 문제 풀이를 마감하셔야 합니다.<br>
                                                        시험 도중에 나갔다 들어오게 된다면 다시 입장이 불가능 합니다.<br>
                                                        또한 시험 페이지에서 마우스가 벗어나거나,<br>
                                                        browser창 사이즈 조절이 발생한다면.<br>
                                                        한번의 경고 이후 2번째부터는 강제 종료가 발생합니다.<br>
                                                        시험에 응시하시겠습니까?<br>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input class="mberNo" type="hidden" name="mberNo" th:value="${mberNo}">
                                                        <button class="btn btn-danger goExamTest" type="button" th:value="${list.examInfoCd}">응시</button>
                                                        <button class="btn btn-primary cancelBtn" type="button" th:id="${list.examInfoCd +'btn'}" data-bs-dismiss="modal">취소</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--경고창 modal 종료-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const goExamTests = document.querySelectorAll('.goExamTest');
        const cancelBtn = document.querySelectorAll('.cancelBtn');
        const mberNo = document.querySelector('.mberNo').value;
        const event = document.createEvent('Events')
        const startExamBtn = document.querySelectorAll('.startExamBtn')
        event.initEvent('keydown', true, true)
        event.keyCode = 27

        goExamTests.forEach(item => {
            item.addEventListener('click', e=> {
                goTest(e)
            })
        })

        startExamBtn.forEach(item => {
            item.addEventListener('click', e=> {
                // limitTestExam(e)
            })
        })

        const limitTestExam = e => {
            const value =  e.currentTarget.value
            const id = e.currentTarget.id

            startExamBtn.setAttribute('data-bs-toggle', 'modal')

            // if(value == '진행전') {
            //     alert('시험 시간이 아닙니다.')
            // } else if(value == '진행중') {
            //     //data-bs-toggle="modal" 추가
            //     startExamBtn.setAttribute('data-bs-toggle', 'modal')
            // } else {
            //     alert('시험이 종료 되었습니다.')
            // }
        }

        const goTest = e => {
            const examInfoCd = e.currentTarget.value
            const cancelBtn = e.currentTarget.value + 'btn'

            document.getElementById(cancelBtn).click()

            window.open("/student/onlineLecture/examTest?examInfoCd=" + examInfoCd + "&mberNo="+mberNo, 'popup',
                'location=no, tollbasrs=no, status=no, fullscreen=yes, width='+screen.width+',height='+screen.height+',fullscreen=yes');
        }
    </script>
</th:block>
</html>