<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout_student_main}">
<th:block layout:fragment="content">
    <div class="page-body">
        <div class="container-fluid faq-section">
            <div class="row">

                <div class="col-xl-4 xl-50 col-lg-6 box-col-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>수강 과목</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">교과명</th>
                                    <th scope="col">학점</th>
                                    <th scope="col">전공구분</th>
                                    <th scope="col">교수님</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="goStudentOnlineLec" style="cursor: pointer"
                                    th:each="estbList, i :${studentEstbList}"
                                    th:if="${estbList.get('LCTRE_KND').equals('O')}"
                                    th:id="${estbList.get('ESTBL_COURS_CD')}">
                                    <th scope="row" th:text="${i.count}"></th>
                                    <td th:text="${estbList.get('SBJECT_NM')}"></td>
                                    <td th:text="${estbList.get('SBJECT_PNT')}"></td>
                                    <td th:text="${estbList.get('LCTRE_SE')}"></td>
                                    <td th:text="${estbList.get('MBER_NM')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 xl-50 col-lg-6 box-col-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>스케줄</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">날짜</th>
                                    <th scope="col">과목</th>
                                    <th scope="col">교시</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="estbSchedule, i : ${studentEstbSchedule}"
                                    th:if="${estbSchedule.get('today').equals('o')}">
                                    <th scope="row" th:text="${i.count}"></th>
                                    <td th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM 월dd일 ')}"></td>
                                    <td th:text="${estbSchedule.get('SBJECT_NM')}"></td>
                                    <td th:text="${estbSchedule.get('LCTRUM_RESVE_USE_PD')}"></td>
                                </tr>
                                <tr th:each="estbSchedule, i : ${studentEstbSchedule}"
                                    th:unless="${estbSchedule.get('today').equals('o')}">
                                    <th scope="row">1</th>
                                    <td colspan="3">일정이 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 xl-100 box-col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>이건 게시판</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                                <th scope="col">작성일</th>
                                <th scope="col">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>난중</td>
                                <td>이준석</td>
                                <td>2021-12-31</td>
                                <td>0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const goOnlineLec = document.querySelectorAll('.goStudentOnlineLec')

        sessionStorage.removeItem("stuEstblCoursCd")

        goOnlineLec.forEach(item => {
            item.addEventListener('click', e=> {
                goOnlineLecList(e)
            })
        })

        const goOnlineLecList = e => {
            const estblCoursCd = e.currentTarget.id;
            // const csrf = document.querySelector("meta[name='_csrf']");
            // const csrf_header = document.querySelector("meta[name='_csrf_header']");
            // const request = new XMLHttpRequest();
            // let form = new FormData();
            //
            // form.append("_csrf",csrf.value);
            // form.append("_csrf_header", csrf_header.value);
            // form.append("estblCoursCd", estblCoursCd);
            // console.log(estblCoursCd)
            //
            // request.open('POST', '/onlineLecture', true);
            // request.send(form)
            // console.log(request)
            sessionStorage.setItem("stuEstblCoursCd", estblCoursCd);
            window.location.href = "/student/onlineLecture?estblCoursCd=" + estblCoursCd;
        }
    </script>
</th:block>
</html>