<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout_student_lecture}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>강의실</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">주차</th>
                            <th scope="col">제목</th>
                            <th scope="col">기간</th>
                            <th scope="col">학습현황</th>
                            <th scope="col">시간</th>
                            <th scope="col">진행률</th>
                            <th scope="col">출결</th>
                        </tr>
                        </thead>
                        <tbody th:each="list,i : ${onlineLecPrintList}">
                            <tr class="goOnlineLecVideo" style="cursor: pointer;" th:id="${list.onlineLecCd}"
                                th:if="${list.onlineLecStart.before(#dates.createNow()) and list.onlineLecEnd.after(#dates.createNow())}">
                                <th th:text="${i.count}" scope="row"><span th:text="${i.count}"></span></th>
                                <td th:text="${list.onlineLecWeek}"><span th:text="${list.onlineLecWeek}"></span></td>
                                <td th:text="${list.onlineLecTitle}"><span th:text="${list.onlineLecTitle}"></span></td>
                                <td th:text="${#dates.format(list.onlineLecStart, 'yyyy-MM-dd')}+ ' ~ ' +${#dates.format(list.onlineLecEnd, 'yyyy-MM-dd')}">
                                    <span th:text="${#dates.format(list.onlineLecStart, 'yyyy-MM-dd')}+ ' ~ ' +${#dates.format(list.onlineLecEnd, 'yyyy-MM-dd')}"></span>
                                </td>
                                <td th:text="${list.learningStatus}"><span th:text="${list.learningStatus}"></span></td>
                                <td th:text="${list.vidoEndtime}"><span th:text="${list.vidoEndtime}"></span></td>
                                <td th:if="${list.atendSttus.equals('y')}" th:text="'100%'"><span th:text="'100%'"></span></td>
                                <td th:if="${!(list.atendSttus.equals('y'))}" th:text="${list.vidoProgress}+'%'"><span th:text="${list.vidoProgress}+'%'"></span></td>
                                <!--출결상태 관리-->
                                <td th:if="${list.atendSttus.equals('y')}"><span>출석</span></td>
                                <td th:if="${list.atendSttus.equals('n')}"><span>결석</span></td>
                                <td th:if="${list.atendSttus.equals('o')}"><span>지각</span></td>
                                <td th:if="${list.atendSttus.equals('-')}"><span>-</span></td>
                                <input name="atchmnFlSn" type="hidden" th:value="${list.atchmnflSn}"/>
                            </tr>
                            <tr th:id="${list.onlineLecCd}" th:if="${list.onlineLecStart.after(#dates.createToday()) or list.onlineLecEnd.before(#dates.createToday())}">
                                <th th:text="${i.count}" scope="row"><span th:text="${i.count}"></span></th>
                                <td th:text="${list.onlineLecWeek}"><span th:text="${list.onlineLecWeek}"></span></td>
                                <td th:text="${list.onlineLecTitle}"><span th:text="${list.onlineLecTitle}"></span></td>
                                <td th:text="${#dates.format(list.onlineLecStart, 'yyyy-MM-dd')}+ ' ~ ' +${#dates.format(list.onlineLecEnd, 'yyyy-MM-dd')}">
                                    <span th:text="${#dates.format(list.onlineLecStart, 'yyyy-MM-dd')}+ ' ~ ' +${#dates.format(list.onlineLecEnd, 'yyyy-MM-dd')}"></span>
                                </td>
                                <td th:text="${list.learningStatus}"><span th:text="${list.learningStatus}"></span></td>
                                <td th:text="${list.vidoEndtime}"><span th:text="${list.vidoEndtime}"></span></td>
                                <td th:text="${list.vidoProgress}+'%'"><span th:text="${list.vidoProgress}+'%'"></span></td>
                                <!--출결상태 관리-->
                                <td th:if="${list.atendSttus.equals('y')}"><span>출석</span></td>
                                <td th:if="${list.atendSttus.equals('n')}"><span>결석</span></td>
                                <td th:if="${list.atendSttus.equals('o')}"><span>지각</span></td>
                                <td th:if="${list.atendSttus.equals('-')}"><span>-</span></td>
                                <input name="atchmnFlSn" type="hidden" th:value="${list.atchmnflSn}"/>
                            </tr>
                        </tbody>
                    </table>
                    <input id="mberNo" name="mberNo" type="hidden" th:value="${mberNo}"/>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const mberNo = document.querySelector('#mberNo').value;
        const goOnlineLecVideos = document.querySelectorAll('.goOnlineLecVideo');

        goOnlineLecVideos.forEach(goOnlineLecVideo => {
            goOnlineLecVideo.addEventListener('click', function (event) {
                location.href="/goOnlineLecVideoPlayer?onlineLecCd=" + event.currentTarget.id + "&mberNo=" + mberNo;
            })
        })
    </script>
</th:block>
</html>