<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout_for_exam}">
<th:block layout:fragment="content">
    <style>
        .right-bar {
            right: 0px;
            top: 0px;
            bottom: 0px;
            width: 400px;
            /*height: 50vmax;*/
            z-index: 99;
            position: fixed;
            display: block;
            background-color: #fff;
        }

        .wrap {
            width: 500px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }

        /*.wrap-exam {*/
        /*    width : 1300px;*/
        /*    justify-content: left;*/
        /*    display: grid;*/
        /*    grid-template-columns: repeat(1, 1fr);*/
        /*}*/

    </style>
    <div class="right-bar" style="background: #E6DDC4;">
        <h3 style="text-align: center; display: inline">현재 시간 : </h3>
        <h3 class = "h3-clock" style="text-align: center; display: inline"></h3>
        <div class="card-body animate-chk">
            <div class="row">
                <div class="wrap">
                    <label class="d-block"th:each="examNumber : ${examList}" th:for="${mberNo + ':' + examNumber.examNumber}" >
                        <input class="checkbox_animated" th:id="${mberNo + ':' + examNumber.examSn}" th:value="${examNumber.examNumber}" type="checkbox" disabled>
                        <span th:text="${examNumber.examNumber}"></span>
                    </label>
                </div>
                <br>
                <button class="btn float-end submission" type="button" style="background: #89B5AF">제출</button>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: #F0E9D2;">
        <div class="container">
            <div class="row no-gutters">
                <div class="wrap-exam">
                    <div th:each="list : ${examList}" class="question" style="background: #678983; margin: 5px; padding : 10px 20px; border-radius : 10px;">
                        <div class="py-2 h4">
                            <b th:text="${list.examNumber+'. '}" style="color: black"></b>
                            <b th:text="${list.examTitle}" style="color: black"></b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" th:id="${list.examSn + ':' + list.examNumber}"
                             th:if="${list.examType.equals('subjective')}">
                            <br>
                            <div class="input-group">
                                <span class="input-group-text btn" style="background: #89B5AF">정답</span>
                                <input th:id="${list.examSn}" class="form-control btn-square studentAnswer" placeholder="입력" type="text">
                            </div>
                        </div>
                        <!--선택 영역-->
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" th:if="${list.examType.equals('objective')}">
                            <label th:each="num : ${#numbers.sequence(1,4)}" style="display: block">
                                <span th:text="${num + '. ' + examContentMap.get(list.examSn+num)}" style="color: black; font-size: large;"/>
                            </label>
                            <br>
                            <div class="input-group">
                                <span class="input-group-text btn" style="background: #89B5AF">정답</span>
                                <input th:id="${list.examSn}" class="form-control btn-square studentAnswer" maxlength="1" placeholder="번호 입력" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const examList = /*[[ ${examList} ]]*/;
        const mberNo = /*[[ ${mberNo} ]]*/;
        const examInfoTimelimit = /*[[ ${examInfoTimelimit} ]]*/;
        /*]]*/
        const inputBtn = document.querySelectorAll('.studentAnswer')
        const checkBoxBtn = document.querySelectorAll('.checkbox_animated')
        const clock = document.querySelector('.h3-clock')
        const submissionExam = document.querySelector('.submission')
        let time = examInfoTimelimit * 60 //기준시간 작성
        let min = "" //분
        let sec = "" //초

        //setInterval(함수, 시간) : 주기적인 실행
        let x = setInterval(function() {
            //parseInt() : 정수를 반환
            min = parseInt(time/60); //몫을 계산
            sec = time%60; //나머지를 계산

            clock.innerHTML = min + "분" + sec + "초";
            time--;

            //타임아웃 시
            if (time < 0) {
                clearInterval(x); //setInterval() 실행을 끝냄
                clock.innerHTML = "시간초과";
            }
        }, 1000);

        window.addEventListener('keypress', function (event) {
            if(event.keyCode === 9 && event.altKey) {
                alert('you pressed SHIFT+A');
            }
        })

        document.addEventListener("visibilitychange", e => {
            console.log(e)
        })

        window.addEventListener('mouseout', function (event) {
            // console.log(event.target)
            // console.log(event.relatedTarget)
            if(event.relatedTarget == null) {
                // alert("경고")
            }
        })

        inputBtn.forEach(item => {
            item.addEventListener('keyup', e => {
                checkInput(e)
            })
        })

        const checkInput = e => {
            const index = e.currentTarget.id
            const answerForCheckId = mberNo+':'+index;
            const answerForValue = document.getElementById(index)
            const answerForCheck = document.getElementById(answerForCheckId)

            if(answerForValue.value != 0) {
                answerForCheck.setAttribute('checked', 'checked')
            } else if (answerForValue.value == 0) {
                answerForCheck.removeAttribute('checked')
            }
        }

        var jsonArray = new Array()
        submissionExam.addEventListener('click', function() {
            let count = 0
            let answerList = []; //new Array();
            inputBtn.forEach(item => {
                const checkBoxId = mberNo+":"+item.id
                const checkCheckBoxAnswer = document.getElementById(checkBoxId)
                const studentAnswer = document.getElementById(item.id)
                const studentAnswerNumber = checkCheckBoxAnswer.value

                if(checkCheckBoxAnswer.hasAttribute('checked')) {
                    count++
                } else {
                    count--
                }

                let answerObj = {
                    examSn : item.id,
                    examNumber : studentAnswerNumber,
                    examInput : studentAnswer.value
                }
                answerList.push(answerObj);
            })

            if(count != 20) {
                alert("아직 풀지 않은 문제가 있습니다.")
            } else {
                const params = {
                    answerList : answerList
                }
                console.log(params)
                $.ajax({
                    url:"/student/onlineLecture/exam/finishExam",
                    data : JSON.stringify(params),
                    method : 'post',
                    contentType : "application/json; charset=UTF-8",
                    dataType: "json",
                    beforeSend : function (xhr) {
                        xhr.setRequestHeader(header, token)
                    }
                })
                .done(function (fragment) {
                    console.log(fragment.state)
                    if (fragment.state == "성공") {
                        swal("시험이 종료되었습니다.")
                        setTimeout(function () {
                            window.close()
                        }, 1000)
                    } else {
                        swal("시험 종료")
                    }
                })
            }
        })


        //특정 키값 입력 방지
        // window.addEventListener('keydown', function (event) {
        //     //tab 9, alt 18, ctrl 17, f1~12 112~123
        //
        //     if (event.altKey) {
        //        event.preventDefault()
        //        event.returnValue = false
        //     } else if(event.ctrlKey) {
        //        event.preventDefault()
        //        event.returnValue = false
        //     } else if(event.keyCode === 9) {
        //        event.preventDefault()
        //        event.returnValue = false
        //     } else if (event.altKey && event.keyCode==9) {
        //        event.preventDefault()
        //        event.returnValue = false
        //     }
        //     else if(event.keyCode >= 112 && event.keyCode <= 122) {
        //         event.preventDefault()
        //          event.returnValue = false
        //     }
        //
        //     console.log(event.keyCode)
        // })

        //우클릭 방지
        document.onmousedown=disableclick;
        status = "우클릭 금지";

        function disableclick(event) {
            if(event.button==2) {
                alert(status)
                return false
            }
        }
    </script>
</th:block>
</html>